* {
	margin: 0;
	padding: 0;
}

.hide {
	display: none;
}

body {	
	font-size: 100%;
	background: #666;
	color: #fff;
}

#controls {
	padding: 10px 0;
	background-color: #cccccc;

}

.app-label {
	font-weight: 700;
}

.controls-item {
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}

.total-count {
	font-weight: 700;
	font-family: 'Chewy';
	font-size: large;
}

.close-icon {
	height: 20px;
	width: 20px;
}

#controls img {
	vertical-align: middle;
	width: 28px;
	height: 30px;
	background: rgba(0, 0, 0, 0);
}


#clearNotes {
	margin-right: 10px;
}

#btnNew {
	margin-right: 10px;
}

.logo {
	padding:0;
	display:inline-block;
}

.logo-img {
	width: 75px !important;
	height:75px !important;
}

ul, li {
	list-style: none;
}

ul {
	overflow: hidden;
	padding: 15px;
}

ul li {
	margin-bottom: 10px !important;
	float: left;
	position: relative;
	top: 15px;
}

ul li div {
	text-decoration: none;
	color: #000;
	background: #ffc;
	display: block;
	height: 150px;
	width: 150px;
	padding: 10px;
	margin:2px;
	border-style: solid;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
}

ul li div img {
	padding: 1px 3px;
	margin: 10px; 
	position: absolute; 
	top: 0; 
	right: 0;
}

ul li textarea {
	font-family: 'Chewy', arial, sans-serif;
	background: rgba(0, 0, 0, 0);
	resize: none;
	padding: 3px;
	border-style: none;
}

#notes {
	padding: 50px 0;
}


.note {
	margin: 0 50px;
}

.note-title {
	font-size: 140%;
	font-weight: bold;
	height: 30px;
	width: 70%;
}

.note-content {
	font-size:120%;
	height: 100px;
	width: 95%;
}


.yellow {
	background: #ffc;
}
.green {
	background: #cfc;
}
.blue {
	background: #ccf;
}

.dropdown {
	position: relative;
	display: inline-block;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	z-index: 1000;
}

.dropdown-content p {
	padding: 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
}